

{% extends 'base.html.jinja' %}


{% block header %}
  <h1 class="login">{% block title %}Log In{% endblock %}</h1>
{% endblock %}

{% block content %}
<section class="login-form-container">
  <form method="post">
    <label for="username">Username</label>
    <input name="username" id="username" required>
    <label for="password">Password</label>
    <input name="password" id="password" required>
      <span>
        <a href="/auth/register">Need to Register?</a>
        <input type="submit" value="Log In">
      </span>
  </form>
</section>
{% endblock %}
